@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header{
  position: sticky;
  top: 0;
  background: white;
  height: 66px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.rightBox{
    display: flex;
    margin: 12px;
  }

.left img{
  width: 95px;
  height: 53px;
}

.container{ 
  padding: 0 10vw; 
}

.containerHeader{ 
  padding: 0 10vw; 
}

nav{
  font-size: 12px;
  padding-top: 14px;
}

nav ul li{
  list-style: none;
  padding: 0 12px;
}

.section1{
  background: #f2f2f2; 
}

.search{
  width: 20vw;
    padding: 7px 17px;
    border: 0.5px solid #ffffff;
    background: #f7f8fd;
    border-radius: 1px;
}

.homeImg{
  width: 80vw;
  margin: 12px 0;
}



footer{
  padding: 23px;
  text-align: center;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.tall{
  min-height: 40vh;
}

.desktop-genericInfo {
    overflow: hidden;
    margin-bottom: 24px;
}
.desktop-shopLinks {
    float: left;
    width: 155px;
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
}
.desktop-shopLinks>p {
    font-weight: 700;
}
.desktop-gInfoTitle, .desktop-or {
    font-size: 12px;
}
a {
    text-decoration: none;
    color: #282c3f;
}
.desktop-customerPolicies>a:nth-child(2), .desktop-shopLinks>a:nth-child(10), .desktop-shopLinks>a:nth-child(2) {
    padding-top: 14px;
}
.desktop-customerPolicies>a, .desktop-shopLinks>a {
    color: #696b79;
    display: block;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
    cursor: pointer;
    line-height: normal;
}
.desktop-customerPolicies {
    width: 15%;
    float: left;
}
.desktop-appExperience {
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
    width: 360px;
    font-size: 15px;
    line-height: 19px;
    float: left;
    padding-top: 13px;
}
.desktop-appExperience>p:first-child {
    font-weight: 700;
    color: #282c3f;
    margin: -3px 0 0;
    padding: 0 0 25px;
}
.desktop-downLinkContainer {
    display: inline-block;
}
.desktop-keepInTouch {
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 700;
    margin-top: 20px;
}
.desktop-facebook, .desktop-instagram, .desktop-twitter, .desktop-youtube {
    margin: 0 15px 0 0;
    display: inline-block;
}
.desktop-facebook {
    width: 20px;
    height: 21px;
}
.desktop-promises {
    width: 250px;
    float: left;
}
.desktop-section {
    margin: 15px 0 30px;
    color: #696b79;
}
@media (max-width: 450px) { 
.search {
    width: 72vw; 
}
}

@media (max-width: 1550px) { 

  nav ul li {
    list-style: none;
    padding: 5 10px;
    font-size: 15px;
}
  

  .containerHeader {
    padding: 0 2vw;
}
  
header{ 
  height:100px;
}  

  nav{
    flex-direction: column;
    align-items: center;
  }

  .right{ 
    flex-direction: column;
  }

  .rightBox{
    display: flex;
    margin: 12px;
  }
}
